<li>
<div class="row">
  <div class="span9 rec-block">
		<div class="row">
		  <div class="span6 title">
		  	<%= link_to recommendation.service.title, "#", :class =>"" %>
		  </div>
		  <div class="span3">
		  	<%= recommendation.created_at.strftime("%d.%m.%Y %k:%M:%S") %>
		  </div>
		</div>
		<div class="row">
		  <div class="span9 maintext">
		  	<span class="name">
		  		<%= recommendation.service.name %>
		  	</span>
		  	<%= recommendation.service.description %>
		  </div>
		</div>
	</div>
	<div class="span2">
    <%= link_to "delete", recommendation, method: :delete,
                                  data: { confirm: "You sure?" } %>
  </div>
</div>
</li>