<li>
<div class="row">
  <div class=".col-md-9 rec-block">
		<div class="row">
		  <div class=".col-md-6 title">
		  	<%= link_to recommendation.service.title, "#", :class =>"" %>
		  </div>
		  <div class=".col-md-3">
		  	<%= recommendation.created_at.strftime("%d.%m.%Y %k:%M:%S") %>
		  </div>
		</div>
		<div class="row">
		  <div class=".col-md-9 maintext">
		  	<span class="name">
		  		<%= recommendation.service.name %>
		  	</span>
		  	<%= recommendation.service.description %>
		  </div>
		</div>
	</div>
	<div class=".col-md-2">
    <%= link_to "delete", recommendation, method: :delete, remote: true %>
  </div>
</div>
</li>